from setuptools import find_packages, setup

setup(
    name='Mlproject',
    version='0.0.1',
    author='Prajwal and Sumanth',
    author_email="prajwalkumar2228@gmail.com",
    packages=find_packages(),
    install_requires=['pandas', 'numpy', 'seaborn']
)
